<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id='container'>
      <div id='notice-container'>
        <div id='notices'></div>
        <div id='errors'></div>
      </div>
      <h1>Task List</h1>
      <div id='list-container'></div>
      <div id='new-task-container'></div>
    </div>
  </body>
</html>
