@import url('https://fonts.googleapis.com/css?family=Handlee')

body, input
  font-family: 'Handlee', cursive
  background-color: #333
  color: #999
ul
  list-style-type: none

input
  border: 1px #666 solid
  padding: 5px

input[name=name]
  width: 300px

#container
  width: 800px
  margin: auto

#notice-container
  height: 2em

#notices
  color: green

#errors
  color: red
